@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
.componentArt{
    font-family: 'Playfair Display', cursive;
    font-size: large;
    opacity: 95%;
}

.componentArt > p{
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 95%;
    text-align: justify;
}

.componentArt > ul{
    margin-left: 30px;
    font-weight: 600;
    list-style-type: disc;
}

.componentArt > ol{
    margin-left: 30px;
    font-weight: 600;
    list-style-type: decimal;
    text-indent: 10px;
}

.componentArt > h2{
    font-size: xx-large;
    font-weight: bolder;
}
.componentArt > h3{
    font-size: xx-large;
}